<div>
    <h1 class = "title"> In Commerce </h1>
    <%= link_to 'Produtos', products_path %>
    <%= link_to 'Vendas', trading_logs_path %>
    <%= link_to 'Editar Perfil', edit_profile_path(@profile) %>
</div>